<header class="pl-3 pt-5 py-1 header_background">
  <h1 class="text-white">Väderprognos</h1>
  <p class="text-white">Få en stads väderprognos på en sekund</p>
</header>
<nav class="navbar navbar-expand-md navbar-light nav_background_color border nav_details">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#weather-navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="weather-navbar" class="navbar-collapse collapse">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link font-weight-bold" routerLinkActive="active-link" routerLink="home">Hem</a>
    </li>
    <li class="nav-item">
      <a class="nav-link font-weight-bold"  routerLinkActive="active-link" routerLink="weather">Väder</a>
    </li>
  </ul>
</div>
</nav>
<div class="pt-4 bg-light">
<div class="container page-padding">
    <router-outlet></router-outlet>
</div>
</div>
<footer class="text-center pt-3 bg-white pb-3 border border-primary">
  vill du veta mer? skicka e-post till
  <a href="mailto:fredrik.frolund@live.se">fredrik.frolund@live.se</a>
</footer>

